<p id="notice"><%= notice %></p>

<h2><%= @course.title %></h2>
<p>
  <%= @course.description %>
</p>
<span>Цена: <%= @course.price %></span>
<hr>
<nav>
  <ul class="pagination">
    <li><%= link_to 'Back', courses_path %></li>
    <li><%= link_to 'Edit', edit_course_path(@course) %></li>
    <li><%= link_to 'Show Groups', course_groups_path(@course) %></li>
    <li><%= link_to 'Add Group', new_course_group_path(@course) %></li>
  </ul>
</nav>
