<!DOCTYPE html>
<html>
<head>
  <title>Courses</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-pills">
      <li><%= link_to 'Главная', courses_path %></li>
      <li><%= link_to 'Курсы', courses_path %></li>
      <li><%= link_to 'Расписание', schedule_courses_path %></li>
    </ul>
    <div>
      <%= yield %>
    </div>
  </div>

</body>
</html>
